/* 1440 px resolution code */
header {
  width: 100%;
}
body {
  background-color: #0e1010;
}
.header__container {
  max-width: 1440px;
  width: 100%;
  height: 91px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;
}
.dzabila {
  width: 229px;
  height: 54px;
  font-size: 45px;
  font-family: "Kaushan Script", cursive, sans-serif;
  margin-left: 46.75px;
  transition: font-size 0.3s ease;
}
.dzabila:hover {
  font-size: 50px;
}
.dzabila a {
  color: white;
}
.nav__list {
  width: 483px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34.75px;
}
.nav__list--item {
  color: white;
  font-size: 18px;
  transition: font-size 0.3s ease;
}
.nav__list--item:hover {
  font-size: 20px;
}
.touch {
  width: 196px;
  height: 36px;
  background-color: #2f3634;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 41px;
  transition: font-size 0.9s ease;
}
.touch:hover {
  background-color: white;
  color: #2f3634;
}
.fa-bars {
  display: none;
}
/* section one code */
.section__one {
  width: 100%;
  height: 701px;
}
.section__one--container {
  max-width: 1110px;
  width: 100%;
  height: 372.38px;
  margin: 0 auto;
  margin-top: 164.25px;
  background-color: white;
  border-radius: 41px;
  padding-top: 1px;
  transition: all 0.9s ease;
}
.section__one--title {
  font-size: 36px;
  color: #0e1010;
  width: 595px;
  margin-top: 95px;
  margin-left: 95px;
  font-family: "Kaushan Script", cursive, sans-serif;
  transition: all 0.9s ease;
}
.section__one--paragraph {
  font-size: 20px;
  color: black;
  width: 792px;
  margin-left: 95px;
  margin-top: 11px;
  transition: all 0.9s ease;
}
.section__one--links {
  display: flex;
  margin-top: 44px;
  margin-left: 95px;
  align-items: center;
  transition: all 0.9s ease;
}
.section__one--links--icons {
  display: flex;
}
.section__one--links--linkedin {
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.section__one--links--linkedin:hover {
  transform: translateY(-3px);
}
.section__one--links--github {
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.section__one--links--github:hover {
  transform: translateY(-3px);
}
.section__one--links--button1 {
  width: 168px;
  height: 33px;
  border-radius: 74px;
  border: 2px solid #859591;
  background-color: white;
  margin-left: 365px;
  font-size: 14px;
  color: #272d2b;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.section__one--links--button1:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}
.section__one--links--button2 {
  width: 190px;
  height: 33px;
  background-color: #2f3634;
  margin-left: 20px;
  color: white;
  font-size: 14px;
  border-radius: 74px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.section__one--links--button2:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}
/* section two  code */
.section__two {
  width: 100%;
  height: 500px;
  padding-top: 1px;
  transition: all 0.9s ease;
}
.section__two--container {
  margin: 0 auto;
  display: flex;
  max-width: 712.18px;
  transition: all 0.9s ease;
}
.section__two--title {
  font-size: 36px;
  font-family: "Kaushan Script", cursive, sans-serif;
  color: #fff;
  transition: all 0.9s ease;
}
.section__two--text {
  max-width: 540px;
  margin-left: 45px;
  font-size: 20px;
  color: white;
  line-height: 24px;
  transition: all 0.9s ease;
}
/* section three code */
.section__three {
  width: 100%;
  height: 700px;
  transition: all 0.9s ease;
}
.section__three--container {
  max-width: 1110px;
  width: 100%;
  height: 554.15px;
  margin: 0 auto;
  transition: all 0.9s ease;
}
.section__three--title {
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: "Kaushan Script", cursive, sans-serif;
  transition: all 0.9s ease;
}
.section__three--subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 23px;
  color: white;
  transition: all 0.9s ease;
}
.section__three--flex {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 419.04px;
  flex-wrap: wrap;
  margin-top: 45.11px;
  margin: 0 auto;
  margin-top: 45.11px;
  transition: all 0.9s ease;
}
.box {
  width: 359.35px;
  height: 202.13px;
  background-color: #272d2b;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s ease;
}
.box:hover {
  background-color: #555555;
  color: #ff69b4;
  box-shadow: 0 0 10px 2px #ff69b4;
  transform: translateY(-10px);
  transform: scale(1.05);
  cursor: pointer;
  font-size: 26px;
}
/* section four code */
.section__four {
  width: 100%;
  height: 1700px;
  transition: all 0.5s ease;
}
.section__four--container {
  max-width: 1113.39px;
  width: 100%;
  height: 1700px;
  margin: 0 auto;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__four--title {
  font-size: 36px;
  color: white;
  font-family: "Kaushan Script", cursive, sans-serif;
  text-align: center;
  transition: all 0.5s ease;
}
.section__four--subtitle {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 23px;
  transition: all 0.5s ease;
}
.section__four--projects {
  width: 1110px;
  height: 334.89px;
  display: flex;
  justify-content: space-between;
  margin-top: 46.51px;
  transition: all 0.5s ease;
}
.section__four--project {
  width: 634.79px;
  height: 332.47px;
  background-color: #2f3634;
  transition: all 0.5s ease;
}
.section__four--project--text {
  width: 445.25px;
  height: 334.89px;
  transition: all 0.5s ease;
}
.section__four--project--title {
  font-size: 20px;
  color: #859591;
  transition: all 0.5s ease;
}
.section__four--project--subtitle {
  font-size: 36px;
  color: white;
  height: 43px;
  margin-top: 5px;
  transition: all 0.5s ease;
}
.section__four--project--paragraph {
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-top: 10px;
  transition: all 0.5s ease;
}
.section__four--icons {
  display: flex;
  align-items: center;
  margin-top: 30.89px;
  transition: all 0.5s ease;
}
.section__four--project--icon {
  margin-right: 17.66px;
  width: 25px;
  height: 25px;
}
.section__four--project--button {
  width: 184px;
  height: 33px;
  border-radius: 74px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #2f3634;
  border: none;
  margin-top: -5px;
}
.section__four--project--button:hover {
  background-color: #555555;
  color: #ff69b4;
  box-shadow: 0 0 10px 2px #ff69b4;
  transform: translateY(-10px);
  transform: scale(1.05);
  cursor: pointer;
}
/* section five code */
.section__five {
  width: 100%;
  height: 300px;
  transition: all 0.5s ease;
}
.section__five--container {
  width: 574px;
  height: 160.44px;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.section__five--title {
  font-size: 36px;
  text-align: center;
  color: white;
  font-family: "Kaushan Script", cursive, sans-serif;
  transition: all 0.5s ease;
}
.section__five--paragraph {
  font-size: 20px;
  text-align: center;
  width: 574px;
  color: white;
  margin-top: 10px;
  transition: all 0.5s ease;
}
.section__five--links {
  width: 408.69px;
  height: 31.38px;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.section__five--icons--gmail {
  width: 35px;
  height: 26.25px;
  transition: transform 0.3s ease;
}
.section__five--icons--gmail:hover {
  width: 37px;
  height: 28px;
}
.section__five--icons--linkedin {
  width: 31px;
  height: 30px;
}
.section__five--icons--linkedin:hover {
  width: 33px;
  height: 32px;
}
.section__five--icons--github {
  width: 33.04px;
  height: 31.38px;
}
.section__five--icons--github:hover {
  width: 35px;
  height: 33px;
}
.section__five--icons--behance {
  width: 32.19px;
  height: 19.73px;
}
.section__five--icons--behance:hover {
  width: 34px;
  height: 21px;
}
.section__five--icons--figma {
  width: 21px;
  height: 31px;
}
.section__five--icons--figma:hover {
  width: 23px;
  height: 33px;
}
footer {
  width: 100%;
  border-top: 1px solid #272D2B;
}
.footer__container {
  max-width: 1440px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding-top: 1px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  width: 425.34px;
  margin: 0 auto;
  margin-top: 36px
}
.footer__navigation--item {
  color: white;
  transition: all 0.5s ease;
}
.footer__navigation--item:hover {
  font-size: 22px;
}
.copyright {
  color: white;
  text-align: center;
  margin-top: 20px;
}
/* 1065px resolution code */
@media (max-width: 1440px) {
  .header__container {
    max-width: 1024px;
  }
  .dzabila {
    margin-left: 32.5px;
  }
  .nav__list {
    margin-right: 29.66px;
  }
  /* section one code 1065 */
  .section__one {
    height: 566.38px;
  }
  .section__one--container {
    max-width: 960px;
    height: 302.38px;
    margin-top: 132px;
  }
  .section__one--title {
    font-size: 32px;
    margin-left: 75px;
    margin-top: 75px;
  }
  .section__one--paragraph {
    font-size: 16px;
    width: 613.18px;
    margin-left: 75px;
    margin-top: 9px;
  }
  .section__one--links {
    margin-left: 75px;
  }
  .section__one--links--button1 {
    margin-left: 34 0px;
  }
  /* section two code 1065px */
  .section__two--title {
    font-size: 32px;
  }
  .section__two--text {
    font-size: 16px;
  }
  /* section three code 1065px */
  .section__three {
    height: 700px;
  }
  .section__three--title {
    font-size: 32px;
  }
  .section__three--subtitle {
    font-size: 16px;
  }
  .section__three--flex {
    max-width: 960px;
    height: 344.57px;
  }
  .box {
    width: 310.79px;
    height: 166.21px;
  }
  /* section four code 1065px */
  .section__four {
    height: 1400px;
  }
  .section__four--container {
    height: 1400px;
  }

  .section__four--title {
    font-size: 32px;
  }
  .section__four--subtitle {
    font-size: 16px;
  }
  .section__four--projects {
    width: 964.1px;
    height: 274.57px;
    justify-content: space-between;
  }
  .section__four--project {
    height: 272.04px;
    width: 588.43px;
  }
  .section__four--project--text {
    width: 345px;
    height: 273px;
  }
  .section__four--project--title {
    font-size: 16px;
  }
  .section__four--project--subtitle {
    font-size: 32px;
  }
  .section__four--project--paragraph {
    font-size: 16px;
  }
  .section__four--project--button {
    width: 123px;
    margin-left: 60px;
  }
  /* section five code 1065px */
  .section__five--container {
    width: 460px;
    height: 158.44px;
  }
  .section__five--title {
    font-size: 32px;
  }
  .section__five--paragraph {
    font-size: 16px;
    width: 460px;
  }
  /* footer code */
  .footer__container {
    max-width: 1024px;
  }
}

/* 744px resolution code  */
@media (max-width: 1065px) {
  .header__container {
    max-width: 745.16px;
  }
  .dzabila {
    margin-left: 25.41px;
  }
  nav {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 50px;
    color: white;
    margin-right: 45.5px;
  }
  /* section one code 744px */
  .section__one {
    height: 461.88px;
  }
  .section__one--container {
    width: 689px;
    height: 291.88px;
    margin-top: 85px;
  }
  .section__one--title {
    margin-top: 71px;
    margin-left: 71px;
  }
  .section__one--paragraph {
    margin-left: 71px;
    margin-top: 9px;
    width: 548px;
  }
  .section__one--links {
    margin-left: 71px;
  }
  .section__one--links--button1 {
    margin-left: 111.28px;
  }
  /* section two code 744px */
  .section__two {
    height: 398px;
  }
  .section__two--container {
    flex-direction: column;
    align-items: center;
  }
  .section__two--text {
    width: 519.75px;
    margin-top: 40px;
    margin-left: 0;
  }
  /* section three code 765px */
  .section__three {
    height: 500px;
  }
  .section__three--container {
    max-width: 696.5px;
    height: 346.93px;
  }
  .section__three--flex {
    max-width: 696.5px;
    height: 249.99px;
  }
  .box {
    width: 225.49px;
    height: 120.59px;
  }
  /* section four code 744px */
  .section__four {
    height: 1400px;
  }
  .section__four--projects {
    width: 696px;
    height: 274px;
  }
  .section__four--project {
    width: 339.86px;
    height: 268.96px;
  }
  .section__four--text {
    width: 340px;
    height: 274.47px;
  }
  /* section five code 744px */
  /* footer code */
  .footer__container {
    max-width: 744px;
  }

}
/* 375px resolution code    */
@media (max-width: 744px) {
  .header__container {
    max-width: 310px;
    height: 56.96px;
  }
  .dzabila {
    max-width: 153px;
    height: 36px;
    margin-left: 24px;
    font-size: 30px;
  }
  .fa-bars {
    font-size: 30px;
    margin-right: 19.09px;
  }
  /* section one code 375px */
  .section__one {
    height: 291.86px;
  }
  .section__one--container {
    max-width: 300px;
    height: 239.68px;
    margin-top: 26.09px;
  }
  .section__one--title {
    font-size: 28px;
    max-width: 200.89px;
    margin-top: 22.17px;
    margin-left: 20px;
  }
  .section__one--paragraph {
    max-width: 292.35px;
    margin-top: 11.74px;
    margin-left: 5px;
  }
  .section__one--links {
    margin-left: 20px;
    margin-top: 20px;
  }
  .section__one--links--icons {
    display: flex;
    flex-direction: column;
  }
  .section__one--links--button1 {
    margin-left: 20px;
    max-width: 190px;
    margin-bottom: 5px;
  }
  /* section two code 375px */
  .section__two {
    height: 600px;
  }
  .section__two--title {
    font-size: 28px;
  }
  .section__two--text {
    max-width: 300px;
    margin-left: 0;
    text-align: center;
  }
  /* section three code 375px */
  .section__three {
    height: 430px;
  }
  .section__three--container {
    max-width: 300px;
    height: 326.22px;
  }
  .section__three--title {
    font-size: 28px;
  }
  .section__three--flex {
    max-width: 300px;
    height: 247.24px;
  }
  .box {
    max-width: 150px;
    height: 77.1px;
    font-size: 14px;
  }
  .box:hover {
    font-size: 16px;
  }
  /* section four 375px code */
  .section__four {
    height: 1700px;
  }
  .section__four--projects {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    height: 368.08px;
  }
  .section__four--project {
    max-width: 300px;
    height: 114.43px;
  }
  .section__four--project--text {
    max-width: 300px;
    height: 246.65px;
  }
  .section__four--project--button {
    margin-left: 80px;
  }
  .section__four--projects--resp {
    flex-direction: column-reverse;
  }
  /* section five code 375px */ 
  .section__five {
    height: 210px;
  }
  .section__five--container {
    max-width: 300px;
    height: 162.38px;
  }
  .section__five--title {
    font-size: 28px;
  }
  .section__five--paragraph {
    max-width: 300px;
    font-size: 16px;
  }
  .section__five--links {
    max-width: 300px;
  }
  /* footer */
  .footer__container {
    max-width: 300px;
  }
  .footer__navigation {
    max-width: 283px;
  }
}
