/* 1440 px resolution code */
header {
  width: 100%;
}
body {
  background-color: #0e1010;
}
.header__container {
  max-width: 1440px;
  width: 100%;
  height: 91px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;

}
.dzabila {
  width: 229px;
  height: 54px;
  font-size: 45px;
  margin-left: 46.75px;
}
.dzabila:hover {
    font-size: 50px;
}
.dzabila a {
  color: white;
}
.nav__list {
  width: 483px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34.75px;
}
.nav__list--item {
  color: white;
  font-size: 18px;
}
.nav__list--item:hover {
    font-size: 20px;
}
.touch {
  width: 196px;
  height: 36px;
  background-color: #2f3634;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 41px;
}
.fa-bars {
  display: none;
}
/* 1065px resolution code */
@media (max-width:1440px){
    .header__container {
        max-width: 1024px;
    }
    .dzabila {
        margin-left: 32.5px;
    }
    .nav__list {
        margin-right: 29.66px;
    }
}

/* 744px resolution code  */
@media (max-width: 1065px){
    .header__container {
        max-width: 745.16px;
    }
    .dzabila {
        margin-left: 25.41px;
    }
    nav {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 50px;
        color: white;
        margin-right: 45.5px;
    }
}
/* 375px resolution code    */
@media (max-width:744px){
    .header__container {
        max-width: 375px;
        height: 56.96px;
    }
    .dzabila {
        width: 153px;
        height: 36px;
        margin-left: 24px;
        font-size: 30px;
    }
    .fa-bars {
        font-size: 30px;
        margin-right: 19.09px;
    }
}